.embed-slide-wrapper {
	user-select: none;
}

.embed-slide-content {
	white-space: nowrap;
	overflow: hidden;
}

.embed-slide-img {
	width: 100%;
	border-style: none;
	height: auto;
	max-width: 100%;
}

.embed-slide-img[data-hidden="true"] {
	display: none !important;
}

.embed-slide-controller {
	padding: 8px, 10px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	background-color: #000;
	color: #fff;
}

.embed-slide-controller svg {
	cursor: pointer;
	width: 20px;
	height: 20px;
}

.embed-slide-controller-paly {
	margin-right: auto;
}

.embed-slide-controller-num {
	margin-left: 20px;
	margin-right: 20px;
	font-size: 12px;
}
